:host {

  display: block;
  height: calc(100vh - 48px);
  /*padding: 0 16px;*/
}

nav a {
  color: black;
  width: 100%;
  line-height: 48px;
  margin-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-bottom: 1px solid dimgrey;
}

nav a.router-link-active, nav a:hover {
}

nav{
  flex-direction: column;
  display: flex;
  border-right: 1px solid dimgrey;/*#ddd;*/
  height: 100%;
}

.titmicuenta{
  font-size: 25px;
  font-weight: 600;
  color: orangered !important;
  padding: 5px;
}

.tamapartados{
  font-weight: 600;
}