:host {

  display: block;
  height: calc(100vh - 48px);
  /*padding: 0 16px;*/
}

nav a {
  color: #8f8f8f;
  width: 100%;
  line-height: 48px;
  margin-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-bottom: 1px solid #3a3939
}

nav a.router-link-active, nav a:hover {
  color: #106cc8;
}

nav{
  flex-direction: column;
  display: flex;
  border-right: 1px solid #3a3939;/*#ddd;*/
  height: 100%;
}

.titmicuenta{
  font-size: 20px;
  font-weight: 500;
}
