<div class="">
    <div style="display: flex" class="row btn-group btn-group-justified" role="group" aria-label="...">
        <div class="col-lg-4 btn-group" role="group">
            <button type="button" class="estilobotones btn btn-default">Crear nuevo evento</button>
        </div>
        <div class="col-lg-4 btn-group" role="group">
            <button type="button" class="estilobotones btn btn-default">Mis suscripciones</button>
        </div>
        <div class="col-lg-4 btn-group" role="group">
            <button type="button" class="estilobotones btn btn-default">Ajustes</button>
        </div>
    </div>
</div>

<div style="border: solid 1px black"></div>